.hidden {
    display: none;
}

#details .review {
    border-top: 1px dashed #ccc;
    padding-top: 8px;
    margin-top: 8px;
}

#parks .park {
    height: 100%;
}

.park-image {
    height: 200px;
    object-fit: cover;
}
