/* Adam Said */
.hidden {
    display: none;
}

/* Landon Johnson */
#details .review {
    border-top: 1px dashed #ccc;
    padding-top: 8px;
    margin-top: 8px;
}

/* Hassan Mazraani */
#parks .park {
    height: 100%;
}

/* Adam Said */
.park-image {
    height: 200px;
    object-fit: cover;
}
